@import "tailwindcss";
@config "./tailwind.config.ts";

@layer base {
    body {
        @apply bg-[var(--bg-app)] text-[var(--text-main)] antialiased;
        font-family: 'Inter', sans-serif;
    }

    /* Material Symbols CLS Fix */
    .material-symbols-outlined {
        font-display: block;
        width: 24px;
        height: 24px;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
    }
}